

html *{
    font-family: "franklin-gothic-urw";
}

h1{
  font-size: 42px;
} 

h2{
  font-size: 24px;
}

.myname a {
  font-style: normal;
  font-weight:400;
  text-decoration: none;
  color:black;
}

header{
  margin-top: 3% ;
}

li {
list-style: none;
margin-top: 22px;
margin-left: 15px;
float:left;
}

li:last-child {
  margin-right:0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    float:right;
    }

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}



nav li a:link {
    color: black;
}

/*nav li a:visited {
    color: black;
}

nav li a:hover {
  color:#249ce0;
} 

nav li a:active {
  color: #249ce0;
} 

li.element a:active{
    color: #249ce0;
}  */
nav a {
    text-decoration: none;
}



nav li.current a {
    color: #249ce0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}






@media screen and (min-width: 641px) and (max-width:989px){
   .header2{
   	font-size: 20px;
   }

   .main-title2{
   	font-size: 18px;
   }

  
	}


@media screen and (max-width: 767px){

  nav{
    overflow: hidden;
  }

nav ul{
    text-align: center;
    float:none;
    margin: 0%;
    overflow: hidden;
  }

  ul{
  	float:none;
  }

  ul li a{
    font-size: 18px;
  }

  nav li{
    list-style: none;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 22px;
    overflow: hidden;
    float: right;
    font-size: 18px;
    display: inline-block;
    padding: 0%;
    float: none !important;
  } 

  .myname{
   text-align: center;
   
  }

}