html *{
    font-family: "franklin-gothic-urw";
}

h1{
  font-size: 42px;
} 

h2{
  font-size: 24px;
}

.myname a {
  font-style: normal;
  font-weight:400;
  text-decoration: none;
  color:black;
}

header{
  margin-top: 3% ;
}

li.menu{
list-style: none;
margin-top: 22px;
margin-left: 15px;
float:left;
}


ul li a {
    font-size: 18px;
    color:black;
    text-decoration: none;
    font-weight: 500;
}


ul.navigation{
  float: right;
}


li:last-child {
  margin-right:0;
}



ul{
  float:right;
}



@media screen and (min-width: 641px) and (max-width:989px){
   .header2{
   	font-size: 20px;
   }

   .main-title2{
   	font-size: 18px;
   }

  
	}


@media screen and (max-width: 767px){

  nav{
    overflow: hidden;
  }

 ul.navigation{
    text-align: center;
    float:none;
    margin: 0%;
    overflow: hidden;
  }

  ul{
  	float:none;
  }

  ul li a{
    font-size: 18px;
  }

  .menu{
    list-style: none;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 22px;
    overflow: hidden;
    float: right;
    font-size: 18px;
    display: inline-block;
    padding: 0%;
    float: none !important;
  } 

  .myname{
   text-align: center;
   
  }

}