---
layout: page
title: Studies
---

<!DOCTYPE html>


<head>
    <title> Jane Stanton | Front-End Developer </title>

    <link href="https://get.gridsetapp.com/31898/" rel="stylesheet" />
    <link rel="stylesheet" href="{{site.url}}css/classwork.css">
    <link rel="stylesheet" href="{{site.url}}css/header.css">
    <link rel="stylesheet" href="{{site.url}}css/footer.css">       
    <script src="//use.typekit.net/jdb0gys.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width" /> 
    <meta name="description" content="Chicago Front-End Developer" />      
</head>

<style>


    
    div {
      display: none;
    }
    
   
    .wrapper {
      display: block;
    }
    
    /* IE 7 only styles */
    
    .gs-ie7clear {
      display: block;
      width: 100%;
      border: none;
      background: none;
      float: left;
      clear: both;
      height: 0;
      margin: 0 0 0 100%;
      visibility: hidden;
    }




</style>

<body>

<div class="wrapper">
    
    <div class="section da-show da-showgrid">  


    <header class="da2-da13">
         <h1 class="myname da2-da5"><a href="{{site.url}}index">Jane Stanton </a> </h1>
             <nav class="da10-da13">
                <ul>
                {% for link in site.navigation %}
                    {% assign current = nil %}
                    {% if page.url contains link.url %} 
                        {% assign current = 'current' %}
                    {% endif %}
                    <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}"> 
                         <a href="{{site.url}}{{link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
     </header>  

    <div class="redbox da-all">
         <h1 class="starter-title"><span class="the"> The </span>  Starter League </h1>
         <span class="blackline da6-da9"> </span>
         <h2 class="visual-title"> Visual Design Coursework over 11 Weeks </h2>
    </div>  


    <div class="project1 da2-da5">
           <div class="invite-title"> Week 1-3 &nbsp;<span class="vertical-line">&nbsp; Invite Page</span></div>
    </div>
        
        
             
    <div class="version1 image hackathon-img da2-da7 da-padin">  
        <span class="fade">
             
            <p class="inline-text">  <span class="head1"> Hackathon Version 1</span> <br> For the first assignment, I chose to make an invite for a local Hackathon. I thought about main elements I wanted to include such as a map or landscape image to get a feeling of where the event is being held. I also wanted the text to feel game like and chose a sans-serif typeface. With a grid, I started laying out content and tried multiple colors to play off the background image. I emphasized important parts of the text with font weight and bolder colors.   </p>
            <a href="http://www.janestanton.co/invite3/"> View the Page </a>
        </span> 

    </div>
           
           
    <div class="version2 image hackathon-img2 study1  da8-da13 da-padin">
        <span class="fade">
             
              <p class="inline-text">  <span class="head1"> Hackathon Version 2 </span> <br> 
                  I realized the background image was too distracting and the typeface colors were not working to convey the feeling of a start-up hackathon. I decided to start over without a background image. Red and orange are stronger, bolder colors to use. I also changed typefaces and focused on the placement of words, changing the sizes and spacing. The layout in version 1 had too much space between text so I changed the layout to be centered with the most important information at the top and other relevant details following.
              </p>
               <a href="http://www.janestanton.co/invite6/"> View the Page </a>
              </span>
    </div>


    <div class="project1 da2-da7">
           <div class="invite-title"> Week 4-7 &nbsp;<span class="vertical-line">&nbsp;Sales Page</span></div>
    </div>
           
    <div class="version1 image polaroid-img da2-da7 da-padin">  
         <span class="fade">
             
              <p class="inline-text">  <span class="head1"> Polaroid  Version 1 </span> <br> The next assignment was to sell something you own. The polaroid camera was a perfect idea to play off their brand colors. I created a background pattern with these colors and tried a variety of ways to incorporate it with the header. Then, I made a gallery of images with a hover interaction with jQuery to show a variety of images of the what camera looks like and what kind of images a person can take with it. Then, I added detailed information in a column layout to add the specs and quality of the camera.  </p>
              <a href="http://jmstan.github.io/Polaroid"> View the Page </a>
        </span>
             
    </div>
           
           
    <div class="version2 image polaroid-img2 da8-da13 da-padin">
        <span class="fade">
             
              <p class="inline-text2">  <span class="head1"> Polaroid  Version 2 </span> <br> I wanted the page to be easier to read, and the layout to have more breathing room within each block of text. I liked the background pattern, but didn't feel like it was balancing the header. I decided to get rid of the main gallery and display the images with a block of text next to it, to make it simpler to read. Then I added a gallery to the footer to show sample images.</p>
               <a href="http://www.janestanton.co/polaroid"> View the Page </a>
        </span>

    </div>
      
      
    <div class="project1 da2-da7">
           <div class="invite-title"> Week 8-11&nbsp; <span class="vertical-line">&nbsp;Editorial Page</span></div>
    </div>
            
             
    <div class="version1 image gallery-img da2-da7 da-padin">  
             
        <span class="fade">
             
              <p class="inline-text2">  <span class="head1"> Gallery Version 1 </span> <br> 
                  For the editorial page, I wanted an article that allowed me to experiment with breaking font sizes and images. I thought a gallery promo would work well for this. I made the header typeface huge and the secondary header's smaller to contrast it. I used bold background colors and broke the article in three columns for easier reading on the web as well as show more images to see what the show looks like. I hightlighted important text to get a quick understanding of what the article is about.  </p>
                 <a href="http://www.janestanton.co/editorialdesign"> View the Page </a>
        </span>  

    </div>
           
           
    <div class="version2 image gallery-img2 da8-da13 da-padin">
          
         <span class="fade">
              <p class="inline-text"><span class="head1"> Gallery  Version 2 </span> <br>
                  I wanted to break the linear spacing so I overlapped the first three blocks. Next, I wanted the article paragraphs to be displayed at a longer width with quotes or images next to each paragraph. I used different width sizes to make the reading more appealing.  
              </p>
              
             <a href="http://www.janestanton.co/editorialdesign2">  View the Page </a>
     
        </span>

    </div>

    <footer class="da-all">
      
      <!--   <div class="date"> Fall 2014 </div>  -->
      
    </footer>

<!--end desktop-->  </div>


  <div class="section t-show t-showgrid">  


    <header class="t-all">
         <h1 class="myname t2-t4"><a href="index.html">Jane Stanton </a> </h1>
             <nav class="t6-t7">
                <ul>
                {% for link in site.navigation %}
                    {% assign current = nil %}
                    {% if page.url contains link.url %} 
                        {% assign current = 'current' %}
                    {% endif %}
                    <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}"> 
                         <a href="{{site.url}}{{link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
                </ul>
            </nav>
     </header>  

    <div class="redbox t-all">
         <h1 class="starter-title"><span class="the"> The </span>  Starter League </h1>
         <span class="blackline da6-da9"> </span>
         <h2 class="visual-title"> Visual Design Coursework over 11 Weeks </h2>
    </div>  


    <div class="project1 t2-4">
           <div class="invite-title"> Week 1-3 &nbsp;<span class="vertical-line">&nbsp; Invite Page</span></div>
    </div>
        
        
  <div class="study1 t2-t4">        
    <div class="version1 image3"> <img src='{{site.url}}img/hackathon6.png'></div> 
   <!-- <span class="fade t2-t4">  -->
             
            <p class="text1">  <span class="head1"> Hackathon Version 1</span>  For the first assignment, I choose to make an invite for a local Hackathon. I thought about main elements I wanted to include such as a map or landscape image to get a feeling of where the event is being held. I also wanted the text to feel game like and chose a sans-serif typeface. With a grid, I started laying out content and tried multiple colors to play off the background image. I emphasized important parts of the text with font weight and bolder colors.  </p>

            <a href="http://www.janestanton.co/invite3/">View the Page </a>
  </div>     
          
  <div class="study1 t5-t7"> 
    <div class="version2 image4"><img src='{{site.url}}img/hackathon4.png'></div>
    <!--<span class="fade">  -->
             
             <p class="text1">  <span class="head1"> Hackathon Version 2 </span> 
                  I realized the background image was too distracting and the typeface colors were not working to convey the feeling of a start-up hackathon. I decided to start over without a background image. Red and orange are stronger, bolder colors to use. I also changed typefaces and focused on the placement of words, changing the sizes and spacing. The layout in version 1 had too much space between text so I changed the layout to be centered with the most important information at the top and other relevant details following.
              </p>
               <a href="http://www.janestanton.co/invite6/"><!--<button class="btn-t">--> View the Page<!-- <img src="{{site.url}}img/rightarrowwhite.svg" class="arrow"  width="15px" height="15px"></button>--></a>
   <!-- </span>  -->
 </div>

    <div class="project1 t2-t4">
           <div class="invite-title"> Week 4-7 &nbsp;<span class="vertical-line">&nbsp;Sales Page</span></div>
    </div>
           
  
  <div class="study1 t2-t4">
    <div class="version1 image1"><img src='{{site.url}}img/polaroid11.png'></div> 
      <!--   <span class="fade">  -->
             
             <p class="text1">  <span class="head1"> Polaroid  Version 1 </span> The next assignment was to sell something you own. The polaroid camera was a perfect idea to play off their brand colors. I created a background pattern with these colors and tried a variety of ways to incorporate it with the header. Then, I made a gallery of images with a hover interaction with jQuery to show a variety of images of the what camera looks like and what kind of images a person can take with it. Then, I added detailed information in a column layout to add the specs and quality of the camera.  </p>
               <a href="http://jmstan.github.io/Polaroid"><!--<button class="btn-t"> -->View the Page<!-- <img src="{{site.url}}img/rightarrowwhite.svg" class="arrow" width="15px" height="15px"></button> --></a>
      <!--  </span>  -->
             
   </div>
           
   <div class="study1 t5-t7">        
    <div class="version2 image2"><img src='{{site.url}}img/polaroid14.png'></div>
      <!--  <span class="fade">  -->
             
          <p class="text1">  <span class="head1"> Polaroid  Version 2 </span> I wanted the page to be easier to read, and the layout to have more breathing room within each block of text. I liked the background pattern, but didn't feel like it was balancing the header. I decided to get rid of the main gallery and display the images with a block of text next to it, to make it simpler to read. Then I added a gallery to the footer to show sample images.</p>
               <a href="http://www.janestanton.co/polaroid"><!--<button class="btn-t"> -->View the Page<!-- <img src="{{site.url}}img/rightarrowwhite.svg" class="arrow" width="15px" height="15px"></button>--></a>
    <!--    </span>  -->

    </div>
      
      
    <div class="project1 t2-t4">
           <div class="invite-title"> Week 8-11&nbsp; <span class="vertical-line">&nbsp;Editorial Page</span></div>
    </div>
            
    <div class="study1 t2-t4">         
    <div class="version1 image5"> <img src='{{site.url}}img/gallery1.png' /></div>
             
     <!--   <span class="fade">-->
             
             <p class="text1">  <span class="head1"> Gallery Version 1 </span> 
                  For the editorial page, I wanted an article that allowed me to experiment with breaking font sizes and images. I thought a gallery promo would work well for this. I made the header typeface huge and the secondary header's smaller to contrast it. I used bold background colors and broke the article in three columns for easier reading on the web as well as show more images to see what the show looks like. I hightlighted important text to get a quick understanding of what the article is about.     </p>
                 <a href="http://www.janestanton.co/editorialdesign"><!-- <button class="btn-t">-->  View the Page<!--  <img src="{{site.url}}img/rightarrowwhite.svg" class="arrow" width="15px" height="15px"></button>--></a>
     <!--   </span>  -->

    </div>
           
    <div class="study1 t5-t7">         
    <div class="version2 image6"><img src='{{site.url}}img/gallery3.png' /></div>
          
     <!--    <span class="fade">-->
             <p class="text1"><span class="head1"> Gallery  Version 2 </span> 
                    I wanted to break the linear spacing so I overlapped the first three blocks. Next, I wanted the article paragraphs to be displayed at a longer width with quotes or images next to each paragraph. I used different width sizes to make the reading more appealing.   
              </p>
              
             <a href="http://www.janestanton.co/editorialdesign2"><!-- <button class="btn-t"><span class="button-text">--> View the Page<!--</span> <img src="{{site.url}}img/rightarrowwhite.svg" class="arrow" width="15px" height="15px"></button> --></a>

    </div>

    <!--<footer class="t-all">
      
         <div class="date"> Fall 2014 </div>
      
    </footer> -->

<!--end tablet-->  </div>

<div class="section m-show m-showgrid">  


    <header class="m-all">
         <h1 class="myname m-all"><a href="index.html">Jane Stanton </a> </h1>
            <nav>
                <ul>
                {% for link in site.navigation %}
                    {% assign current = nil %}
                    {% if page.url contains link.url %} 
                        {% assign current = 'current' %}
                    {% endif %}
                    <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}"> 
                         <a href="{{site.url}}{{link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
     </header>  

    <div class="redbox m-all">
         <h1 class="starter-title"><span class="the"> The </span>  Starter League </h1>
         <span class="blackline da6-da9"> </span>
         <h2 class="visual-title"> Visual Design Coursework over 11 Weeks </h2>
    </div>  


    <div class="project1 m-all">
           <div class="invite-title"> Week 1-3 &nbsp;<span class="vertical-line">&nbsp; Invite Page</span></div>
    </div>
        
        
  <div class="study1 m-all">        
    <div class="version1 image3"> <img src='{{site.url}}img/hackathon6.png'></div> 
   <!-- <span class="fade t2-t4">  -->
             
          <p class="text1">  <span class="head1"> Hackathon Version 1</span>  For the first assignment, I chose to make an invite for a local Hackathon. I thought about main elements I wanted to include like a map or landscape. I wanted the text to feel techy or game like and chose a san-serif typeface. With a grid, I started laying out content and tried multiple colors to play off the background image.  </p>

            <a href="http://www.janestanton.co/invite3/">View the Page</a>
  <!--  </span> -->
  </div>     
          
  <div class="study1 m-all"> 
    <div class="version2 image4"><img src='{{site.url}}img/hackathon4.png'></div>
    <!--<span class="fade">  -->
             
             <p class="text1">  <span class="head1"> Hackathon Version 2 </span> 
                  I realized the background image was too distracting and the typeface colors were not working to convey the feeling I wanted. I decided 
                  to start over without a background image. Red and orange seeemed like better color choices to use. I also changed typefaces and focused on the placement of words, changing the sizes and spacing. 
              </p>
               <a href="http://www.janestanton.co/invite6/"><!--<button class="btn-t">--> View the Page<!-- <img src="{{site.url}}img/rightarrowwhite.svg" class="arrow"  width="15px" height="15px"></button>--></a>
   <!-- </span>  -->
 </div>

    <div class="project1 m-all">
           <div class="invite-title"> Week 4-7 &nbsp;<span class="vertical-line">&nbsp;Sales Page</span></div>
    </div>
           
  
  <div class="study1 m-all">
    <div class="version1 image1"><img src='{{site.url}}img/polaroid11.png'></div> 
      <!--   <span class="fade">  -->
             
            <p class="text1">  <span class="head1"> Polaroid  Version 1 </span> The next assignment was to sell something you own. The polaroid camera was a perfect idea to play off their brand colors. I created a background pattern with these colors and tried a variety of ways to incorporate it with the header. Then, I made a gallery of images to show off what the camera looks like and what kind of images it takes.   </p>

               <a href="http://jmstan.github.io/Polaroid"><!--<button class="btn-t"> -->View the Page<!-- <img src="{{site.url}}img/rightarrowwhite.svg" class="arrow" width="15px" height="15px"></button> --></a>
      <!--  </span>  -->
             
   </div>
           
   <div class="study1 m-all">        
    <div class="version2 image2"><img src='{{site.url}}img/polaroid14.png'></div>
      <!--  <span class="fade">  -->
             
           <p class="text1">  <span class="head1"> Polaroid  Version 2 </span> I wanted the page to be easier to read, and the layout to have more breathing room within each block of text. I liked the background pattern, but didn't feel like it was balancing the header. I decided to get rid of the main gallery and display the images with a block of text next to it, to make it simpler to read. Then I added a gallery to the footer to show sample images.</p>
               <a href="http://www.janestanton.co/polaroid"><!--<button class="btn-t"> -->View the Page<!-- <img src="{{site.url}}img/rightarrowwhite.svg" class="arrow" width="15px" height="15px"></button>--></a>
    <!--    </span>  -->

   </div>
      
      
    <div class="project1 m-all">
           <div class="invite-title"> Week 8-11&nbsp; <span class="vertical-line">&nbsp;Editorial Page</span></div>
    </div>
            
    <div class="study1 m-all">         
    <div class="version1 image5"> <img src='{{site.url}}img/gallery1.png' /></div>
             
     <!--   <span class="fade">-->
             
              <p class="text1">  <span class="head1"> Gallery Version 1 </span> 
                  For the editorial page, I wanted an article that allowed me to experiment with font size and color. I thought a gallery promo 
                  would work well for this. I made the header typeface huge and the secondary header's smaller to contrast it. I used bold background                     colors and broke the article in three columns for easier reading on the web.            </p>
                 <a href="http://www.janestanton.co/editorialdesign"><!-- <button class="btn-t">-->  View the Page<!--  <img src="{{site.url}}img/rightarrowwhite.svg" class="arrow" width="15px" height="15px"></button>--></a>
     <!--   </span>  -->

   </div>
           
    <div class="study1 m-all">         
    <div class="version2 image6"><img src='{{site.url}}img/gallery3.png' /></div>
          
     <!--    <span class="fade">-->
             <p class="text1"><span class="head1"> Gallery  Version 2 </span> 
                  I wanted to break the linear spacing so I overlapped the first three blocks. Next, I wanted the article paragraphs to be displayed 
                  at a longer width with quotes or images next to each paragraph. I used different width sizes to make the reading more appealing.  
              </p>
              
             <a href="http://www.janestanton.co/editorialdesign2"><!-- <button class="btn-t"><span class="button-text">--> View the Page<!--</span> <img src="{{site.url}}img/rightarrowwhite.svg" class="arrow" width="15px" height="15px"></button> --></a>

   </div>

    <!--<footer class="t-all">
      
         <div class="date"> Fall 2014 </div>
      
    </footer> -->

<!--end mobile-->  </div>
<!--end wrapper --> </div>
 <script src="https://get.gridsetapp.com/31898/overlay/"></script>
 <script src="js/jquery-1.11.2.min.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
 <script>


    
    
   
</script>    

</body>
</html> 
