<!DOCTYPE html>

<head>
    <title> <a href="jmstan.github.io/portfolio4/index"> Jane Stanton | Front-End Developer </a></title>

    <link href="https://get.gridsetapp.com/31906/" rel="stylesheet" />
    <link rel="stylesheet" href="{{site.url}}css/main.css"> 
    <link rel="stylesheet" href="{{site.url}}css/header.css">  
    <link rel="stylesheet" href="{{site.url}}css/footer.css">  
    <script src="//use.typekit.net/jdb0gys.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width" /> 
    <meta name="description" content="Chicago Front-End Developer" />      
</head>

<body>

<div class="wrapper">
    
<div class="section d-show d-showgrid t-show t-showgrid m-show m-showgrid">  


     <header class="d-all t-all m-all">
         <h1 class="myname d2-d5 t2-t4 m1"><a href="index.html">Jane Stanton </a> </h1>
             <nav class="d11-d13 t5-t7 m1">
                    <ul class="navigation">     
                         <li class="menu"><a href="{{site.url}}index">work</a></li>
                         <li class="menu"><a href="{{site.url}}about">about</a></li> 
                         <li class="menu"><a href="{{site.url}}blog">blog</a></li>    
                         <li class="menu"><a href="{{site.url}}studies">studies</a></li>
                    </ul>
            </nav>
     </header>  
 


