<!DOCTYPE html>

<head>
    <title> Jane Stanton | Front-End Developer </title>

    <link href="https://get.gridsetapp.com/31906/" rel="stylesheet" />
    <link rel="stylesheet" href="{{site.url}}css/main.css">  
    <script src="//use.typekit.net/jdb0gys.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width" /> 
    <meta name="description" content="Chicago Front-End Developer" />      
</head>

<body>

<div class="wrapper">
    
<div class="section d-show d-showgrid t-show t-showgrid m-show m-showgrid">  


     <header class="d-all t-all m-all">
         <h1 class="d2-d5"><a href="index.html">Jane Stanton </a> </h1>
             <nav class= "d11-d14">
                    <ul class="navigation">     
                         <li class="menu"><a href="index.html">work</a></li>
                         <li class="menu"><a href="contact.html">about</a></li> 
                         <li class="menu"><a href="#music">blog</a></li>    
                         <li class="menu"><a href="#videos">class</a></li>
                    </ul>
            </nav>
     </header>  

 



