<!DOCTYPE html>

<head>
    <title> Jane Stanton | Front-End Developer </title>
    <link href="https://get.gridsetapp.com/31906/" rel="stylesheet" />
    <link rel="stylesheet" href="{{site.url}}css/main.css">
    <link rel="stylesheet" href="{{site.url}}css/header.css">
    <link rel="stylesheet" href="{{site.url}}css/images.css"> 
    <link rel="stylesheet" href="{{site.url}}css/footer.css">     
    <script src="//use.typekit.net/jdb0gys.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width" /> 
    <meta name="description" content="Chicago Front-End Developer" />      
</head>

<body>

<div class="wrapper">
    
<div class="section d-show d-showgrid t-show t-showgrid m-show m-showgrid">  


     <header class="d-all t-all m-all">
             <h1 class="myname d2-d7 t2-t4 m-all"><a href="{{site.url}}work">Jane Stanton <span class="front  m-all">Front-End Developer </span> </a> </h1> 
             <nav class="d11-d13 t2-t3 m1">
                <ul>
                {% for link in site.navigation %}
                    {% assign current = nil %}
                    {% if page.url contains link.url %}
                        {% assign current = 'current' %}
                    {% endif %}
                   <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}"> 
              
                       <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
     </header>  
 


