        

<!DOCTYPE html>

<head>
    <title> Jane Stanton | Front-End Developer </title>
   <!-- <link rel="stylesheet" href="css/global.css">   
    <link rel="stylesheet" href="css/index.css">  -->
    <link href="https://get.gridsetapp.com/31906/" rel="stylesheet" />
    <link rel="stylesheet" href="{{site.url}}css/main.css">  
    <script src="//use.typekit.net/jdb0gys.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width" /> 
    <meta name="description" content="Chicago Front-End Developer" />      
</head>
   
<body>


<div class="wrapper">
    
<div class="section da-show da-showgrid">

 <div class="top">
     <header class="da-all">
         <h1 class="da2-da4"><a href="index.html">Jane Stanton </a> </h1>
         <nav class="da10-da13">
            <ul>      
               <li><a href="#videos">class</a></li>
               <li><a href="#music">blog</a></li>
               <li><a href="contact.html">contact</a></li>
               <li><a href="index.html">work</a></li>
            </ul>
        </nav>

     </header>  
 </div>
