<!DOCTYPE html>

<html>

<head>
   <title>Jane Stanton | Front-End Developer </title>  
   
  
    <link rel="stylesheet" href="{{site.url}}css/main.css">
    <link rel="stylesheet" href="{{site.url}}css/images.css"> 
    <link rel="stylesheet" href="{{site.url}}css/header.css"> 
    <link rel="stylesheet" href="{{site.url}}css/footer.css"> 
    <link href="https://get.gridsetapp.com/31898/" rel="stylesheet" />
    <script src="//use.typekit.net/jdb0gys.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width" /> 
    <meta name="description" content="Chicago Front-End Developer" />      
</head>
   
<body>


<div class="wrapper">
    
<div class="section da-show da-showgrid t-show t-showgrid m-show m-showgrid">  
     <header class="da-all t-all m1">
         <h1 class="myname da2-da7 t2-t4 m-all"><a href="{{link.url}}">Jane Stanton <span class="front m-all">Front-End Developer </span> </a> </h1>  


      <!--      <nav class="da10-da13 t5-t7 m-all">
                <ul>
                {% for link in site.navigation %}
                <!--   {% assign current = nil %}  
                    {% if page.url contains link.url %}  
                       {% assign current = 'current' %}  -->
                    {% endif %}
                  <!--  <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">  --> 
                       <a href="{{site.url}}{{link.url}}">{{ link.title }}</a>   
                    </li>
      <!--          {% endfor %}  
                </ul>
            </nav>  -->


        <h1 class="myname da2-da7 t2-t4 m-all"><a href="work.html">Jane Stanton <span class="front m-all">Front-End Developer </span> </a> </h1>
            <nav class="da10-da13 t5-t7 m-all">
              <ul>
                <li class="work"> <a href="work">Work </a> </li>
                 <li class="about"> <a href="about"> About </a> </li>
                 <li class="blog"> <a href="blog"> Blog </a> </li>
                 <li class="studies"> <a href="studies"> Studies </a> </li>
              </ul>
            </nav> 
     </header>  
